.button {
    margin-top: 10px;
    width: 100px;
    height: 20px;
    text-align: center;
}

.centered {
    position: absolute;
    left: 50%;
}

.separator {
    position: absolute;
    background-color: aqua;
    padding-top: 100px;
    width: 100%;
}

.gradient-background {
    height: 60vh; /* Adjust the height as needed */
    background: linear-gradient(to top, mediumpurple, green);
}

.solid-background-color {
    background-color: mediumpurple;
}

body {
    height: 100vh; /* Ensure full viewport height */
    margin: 0; /* Remove default margin */
}

.centered-text {
    text-align: center;
}
